{% extends "base.html" %}

{% block title %}
Add Event
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>Add Event</h1>
<form method="POST">
    <div class="boxDiv">
        <label for="name">Name of the Event:</label>
        <input type="text" class="form-control" name="name" required>
        <br><br>
        <label for="date">Date of Event:</label>
        <input type="date" class="form-control" name="date" required>
        <br><br>
        <label for="event_type">Event Type:</label>
        <ul>
            <li>
                <input type="radio" name="event_type" id="event_type_birthday" value="Birthday" checked>
                <label for="event_type_birthday">Birthday</label>
            </li>
            <li>
                <input type="radio" name="event_type" id="event_type_anniversary" value="Anniversary">
                <label for="event_type_anniversary">Anniversary</label>
            </li>
            <li>
                <input type="radio" name="event_type" id="event_type_custom" value="custom">
                <label for="event_type_custom">Custom:</label>
                <input type="text" class="form-control" name="custom_event_type" placeholder="Type your own event type">
            </li>
        </ul>
        <button type="submit">Add Event</button>
    </div>
</form>
{% endblock %}