{% extends "base.html" %}

{% block title %}
API Keys
{% endblock %}

{% block navigation %}
<div class="Nav">
    <ul>
        <li><img src="{{ url_for('static', filename='GiftPalLogo.png') }}" alt="GiftPal"
                style="width:50px;height:50px;"></li>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.logout_route') }}">Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div>
        <h3>API Keys</h3>
        <table>
            <thead>
                <tr>
                    <th>Email Address</th>
                    <th>Email API Key</th>
                    <th>OpenAI API Key</th>
                </tr>
            </thead>
            <tbody>
                {% for key in keys %}
                <tr>
                    <td>{{ key.email_addr }}</td>
                    <td>{{ key.email_key }}</td>
                    <td>{{ key.openai_key }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h3>Set API Keys</h3>
        <div class="boxDiv">
            <form method="post">
                <label for="email_key">Email Address:</label>
                <input type="text" id="email_addr" name="email_addr"><br>
                <label for="email_key">Email API Key:</label>
                <input type="text" id="email_key" name="email_key"><br>
                <label for="openai_key">OpenAI API Key:</label>
                <input type="text" id="openai_key" name="openai_key"><br>
                <button type="submit">Save Keys</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}