<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<nav>{% block navigation %}{% endblock %}</nav>

<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<footer>
    <br><br>
    <div class="footer-items">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</footer>
{% endif %}
{% endwith %}
</html>