{% extends "base.html" %}

{% block title %}
Groups
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>All Groups</h1>
{% if groups %}
<p>Select a group below to see group members:</p>
<table>
    <thead>
        <tr>
            <th>Group</th>
            <th>Modify</th>
            <th>Minimum Dollar Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>
                <a href="{{ url_for('main.group_members_pairs', group_id=group.id) }}">
                    <button type="button" class="btn btn-primary">{{ group.group_name }}</button>
                </a>
            </td>
            <td>
                <div class="modify">
                    <a href="{{ url_for('main.modify_group', group_id=group.id) }}">
                        <button type="button" class="btn btn-primary">Modify Group</button>
                    </a>
                </div>
            </td>
            <td>
                <div class="min_dollar">{{ group.min_dollar_amount}}</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No groups have been created.</p>
{% endif %}

<br><br>
<form action="{{ url_for('main.register_group') }}">
    <button type="submit">Create New Group</button>
</form>
{% endblock %}