{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>Login Form</h1>
<div class="boxDiv">
    <form method="POST" action="{{ url_for('main.login_route') }}">
        <label>Username:</label>
        <input type="text" name="username" required>
        <br><br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}