{% extends "base.html" %}

{% block title %}Modify Group{% endblock %}
{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}

<h1>Modify Group</h1>
    <div class="boxDiv">
        <form method="POST" action="{{ url_for('main.modify_group', group_id=group.id) }}">
            <label>Group Name:</label>
            <input type="text" name="group_name" value="{{ group.group_name }}" required>
            <br><br>
            <label>Minimum Dollar Amount:</label>
            <input type="range" name="min_dollar_amount" min="0" max="100" value="{{ group.min_dollar_amount }}"
                oninput="document.getElementById('min-amount').innerHTML='$'+this.value" required>
            <span id="min-amount">${{ group.min_dollar_amount }}</span>
            <br><br>
            <label>Enter Username</label>
            <input type="text" name="modify_selected_user" id="modify_selected_user">
            <br><br>
            <select name="group_modification" id="group_modification">
                <option value="add">Add</option>
                <option value="make_admin">Make Admin</option>
                <option value="delete">Delete</option>
              </select>
            <br><br>
            <form action="{{ url_for('main.groups') }}">
                <button type="submit">Save Changes</button>
            </form>
        </form>
    </div>
</div>
{% endblock %}