{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>Welcome, {{ username }}!</h1>
<div class="boxDiv">
    <p align="center"><img src="{{ url_for('static', filename='GiftPalLogo.png') }}" alt="GiftPal"
            style="width:300px;height:300px;"></p>
</div>
<p>You are now logged in as {{ first_name }} {{ last_name }}.</p>
<br>
<p>Your Email is: {{ email }}</p>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br><br>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}