{% extends "base.html" %}

{% block title %}Registration{% endblock %}
{% block navigation %}
<div class="Nav">
    <ul>
        <li><img src="{{ url_for('static', filename='GiftPalLogo.png') }}" alt="GiftPal"
                style="width:50px;height:50px;">
        </li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<h1>Registration Form</h1>
<div class="grid-container">

    <div class="passReqDiv">
        <h3>Password Requirements:</h2>
            <ul>
                <li>At least 8 characters</li>
                <li>At least 1 uppercase letter</li>
                <li>At least 1 lowercase letter</li>
                <li>At least 1 number</li>
                <li>At least 1 special character</li>
            </ul>
    </div>

    <div class="boxDiv">
        <form method="POST" action="{{ url_for('register') }}">
            <label>First Name:</label>
            <input type="text" name="first_name" required>
            <br><br>
            <label>Last Name:</label>
            <input type="text" name="last_name" required>
            <br><br>
            <label>Username:</label>
            <input type="text" name="username" required>
            <br><br>
            <label>Email:</label>
            <input type="text" name="email" required>
            <br><br>
            <label>Password:</label>
            <input type="password" name="password" required>
            <br><br>
            <label>Confirm Password:</label>
            <input type="password" name="confirm_password" required>
            <br><br>
            <input type="submit" value="Register">
            <label>Birthday (DDMMYYYY)</label>
            <input type="date" name="dob" required>
            <br><br>
            <label>Already have an account? <a href="{{ url_for('login') }}">Login</a></label>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br><br>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}