{% extends "base.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>Password Reset</h1>
<p>Enter the new password below for user: {{ username }}</p>

<div class="grid-container">

  <div class="passReqDiv">
    <h3>Password Requirements:</h2>
      <ul>
        <li>At least 8 characters</li>
        <li>At least 1 uppercase letter</li>
        <li>At least 1 lowercase letter</li>
        <li>At least 1 number</li>
        <li>At least 1 special character</li>
      </ul>
  </div>

  <div class="boxDiv">
    <form method="POST">
      <label for="password">New Password:</label>
      <input type="password" name="password" required>
      <br><br>
      <label for="confirm_password">Confirm New Password:</label>
      <input type="password" name="confirm_password" required>
      <br><br>
      <input type="submit" value="Reset Password">
    </form>
  </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br><br>
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}