{% extends "base.html" %}

{% block title %}
Wishlist
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>Wishlist</h1>
<table>
    <thead>
        <tr>
            <th>Wish</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for wish in wishlist %}
        <tr>
            <td>{{ wish.wish }}</td>
            <td>
                <form method="POST" action="/wishlist">
                    <input type="hidden" name="wish_id" value="{{ wish.id }}">
                    <div class="delete">
                        <button type="submit">Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<form action="{{ url_for('main.add_wish') }}">
    <button type="submit">Add New Wish</button>
</form>
{% endblock %}