{% extends "base.html" %}

{% block title %}
Wishlist
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>Wishlist</h1>
<table>
    <thead>
        <tr>
            <th>Wish</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for wish in wishlist %}
        <tr>
            <td>{{ wish[2] }}</td>
            <td>
                <form method="POST" action="/wishlist">
                    <input type="hidden" name="wish_id" value="{{ wish[0] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<form action="{{ url_for('main.add_wish') }}">
    <button type="submit">Add New Wish</button>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br><br>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}