body {
    display: block;
    background-color: #68636a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

p {
    display: block;
    color: #ffffff;
    text-align: center;
}

h1 {
    display: block;
    color: #003366;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #003366;
}

li {
    float: left
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffffff;
    color: #003366;
}

form {
    display: block;
    color: #ffffff;
    text-align: center;
}

input[type=text],
[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #003366;
    border: none;
    color: white;
    padding: 16px 70px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #06066e;
    color: white;
}

button[type=submit] {
    background-color: #003366;
    border: none;
    color: white;
    padding: 16px 70px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #06066e;
    color: white;
}

.boxDiv {
    margin: auto;
    width: 350px;
    border-radius: 5px;
    background-color: #292626;
    padding: 10px;
}

table,
th,
td {
    border: 1px solid;
    margin: auto;
    padding: 16px 20px;
    border-collapse: collapse;
    background-color: #292626;
    color: white;
}

.boxDiv li {
    background-color: #292626;
    float: none;
}

.boxDiv ul {
    background-color: #292626;
}

.passReqDiv {
    margin: auto;
    width: 300px;
    border-radius: 5px;
    background-color: #292626;
    padding: 10px;
    color: white;
}

.passReqDiv li {
    background-color: #292626;
    float: none;
}

.passReqDiv ul {
    background-color: #292626;
}

.grid-container {
    display:flex;
    grid-template-columns: auto auto;
    grid-gap: 1px;
} 