{% extends "base.html" %}

{% block title %}
Add Wish
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<h1>Add Wish</h1>
<form method="POST">
    <div class="boxDiv">
        <label for="wish">Wish:</label>
        <input type="text" class="form-control" name="wish" required>
        <button type="submit">Add Wish</button>
    </div>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br><br>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}