{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block navigation %}
<div class="Nav">
    <ul>
        <li><img src="{{ url_for('static', filename='GiftPalLogo.png') }}" alt="GiftPal"
                style="width:50px;height:50px;">
        </li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h1>Login Form</h1>
<div class="boxDiv">
    <form method="POST" action="{{ url_for('login') }}">
        <label>Username:</label>
        <input type="text" name="username" required>
        <br><br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br><br>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}